[alias]
release-package 		= "exec python3 tools/package.py"
# linux specific (defaults to wayland)
build-linux-x64			= "build --profile release-smaller --target x86_64-unknown-linux-musl"
build-linux-a64			= "build --profile release-smaller --target aarch64-unknown-linux-musl"
# linux with X11 support
build-linux-x64-x11		= "build-linux-x64 --features x11"
build-linux-a64-x11		= "build-linux-a64 --features x11"
# macOS
build-macos				= "build --profile release-smaller --target aarch64-apple-darwin"
# redox
build-redox-x64			= "build --profile release-smaller --target x86_64-unknown-redox"
# windows
build-windows-x64		= "build --profile release-smaller --target x86_64-pc-windows-gnullvm"
build-windows-a64		= "build --profile release-smaller --target aarch64-pc-windows-gnullvm"
# bare metal (test)
bare-metal-a64			= "build --profile release-smaller --target aarch64-unknown-none"

[target.x86_64-unknown-linux-musl]
linker = "x86_64-unknown-linux-musl-gcc"
rustflags = [
	"-C", "link-arg=-s",
	"-C", "target-cpu=x86-64-v3",
]

# missing linker for cross compile on nix flake!
[target.x86_64-pc-windows-gnullvm]
linker = "x86_64-w64-mingw32-clang"

#[profile.release]
[target.aarch64-apple-darwin]
rustflags = [
	"-C", "link-arg=-s",
	"-C", "target-cpu=apple-m1"
]
