[alias]
release-package = "exec python3 tools/package.py"
# linux specific (defaults to wayland)
build-linux-x64			= "build --profile release-smaller --target x86_64-unknown-linux-musl"
build-linux-a64			= "build --profile release-smaller --target aarch64-unknown-linux-musl"
#
build-linux-x64-x11		= "build-linux-x64 --features x11"
build-linux-a64-x11		= "build-linux-a64 --features x11"
# macOS
build-macos				= "build --profile release-smaller --target aarch64-apple-darwin"

[target.x86_64-unknown-linux-musl]
linker = "x86_64-unknown-linux-musl-gcc"
